<h1>Resend confirmation instructions</h1>

<.form let={f} for={:accounts_user} action={Routes.accounts_user_confirmation_path(@conn, :create)}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Resend confirmation instructions" %>
  </div>
</.form>

<p>
  <%= link "Register", to: Routes.accounts_user_registration_path(@conn, :new) %> |
  <%= link "Log in", to: Routes.accounts_user_session_path(@conn, :new) %>
</p>
